div.hero {
  position: absolute;
  color: blue;
  top: 5%;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  display: flex;
  justify-content: center;
}
img.hero {
  filter: grayscale(50%);
  width: 100%;
  object-fit: cover;
  height: 100vh;
}
img.logo {
  max-width: 200px;
  width: 40%;
}
.fader {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.fader__slide {
  position: absolute;
  top: 0;
}

.fader img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}
