@keyframes intro {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(0.5);
  }

  55% {
    transform: scale(1.1);
  }

  85% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}
.mainIcon {
  z-index: 2;
  position: fixed;
  top: 90%;
  left: 88%;
  width: 10%;
  cursor: pointer;
  animation: intro 0.8s ease-in-out 3s 2;
}
@media screen and (min-width: 1024px) {
  .mainIcon {
    left: 93%;
    width: 4%;
  }
}

@media screen and (min-width: 1024px) and (min-height: 1300px) {
  .mainIcon {
    left: 86%;
    width: 10%;
  }
}
@media screen and (min-width: 764px) and (max-width: 1023px) {
  .mainIcon {
    left: 88%;
    width: 10%;
  }
}

.faWhatsapp {
  color: #fff;
  background: linear-gradient(#25d366, #25d366) 14% 84%/16% 16% no-repeat,
    radial-gradient(#25d366 60%, transparent 0);
}
