@keyframes pulse {
  0% {
    transform: scale(0.985);
    color: #2196f3;
    box-shadow: inset 0 0 4px gold;
  }
  100% {
    color: #118ff3;
    transform: scale(1);
    box-shadow: inset 0 0 3px goldenrod;
  }
}
.container {
  padding-left: 2vw;
  padding-right: 2vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.container > div > span {
  color: red;
  font-size: 50px;
  display: block;
  font-family: "Dancing Script", cursive;
}
.container > div {
  min-width: 320px;
  padding-bottom: 12px;
  text-align: center;
}
.center {
  width: 100%;
}
@media screen and (max-width: 1000px) {
  .container > div {
    width: 100%;
  }
  .paragrafo {
    text-align: justify;
  }
}
@media screen and (min-width: 1001px) {
  .container > div {
    width: 40%;
  }
  .paragrafo {
    font-size: 20px;
  }
}
.destaque {
  font-weight: bolder;
  font-size: 2rem;
  text-align: center;
  margin: 7px;
  padding: 3vw;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), silver) 1 100%;
  box-shadow: 0px 2px silver;
}

.img {
  max-width: 85vw;
  display: flex;
  height: auto;
  width: auto;
  margin: auto;
}

.p-primary-button {
  padding-top: 10px;
}

.pCardBorder {
  max-width: 250px;
  padding: 1rem;
  position: relative;
  background: linear-gradient(to right, red, gold);
  padding: 3px;
  border-radius: 7px;
  margin-bottom: 12px;
  margin-top: 12px;
  margin-right: 12px;
  margin-left: 12px;
}
.pCard {
  background-color: ghostwhite;
}
.parceiros {
  text-align: center;
  background-color: silver;
}
.parceiroImg {
}
.pHeroButton {
  margin: 0px 20px 16px 0px;
  text-shadow: black 1px 1px;
  background-color: rgba(255, 255, 255, 0.95);
  backdrop-filter: grayscale(100%) blur(10px);
  font-size: 19px;
  font-weight: bolder;
  display: inline-table;
  box-shadow: inset 0 0 3px gold;
  animation: pulse 1s ease-in 0.5s 15 alternate;
}
